.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.outerCardsWrapper {
    composes: wrapper;
    margin-top: unset;
    padding-right: 8px;

    height: calc(100vh - 550px);
    overflow-y: auto;

    list-style-type: none;
}

.innerCardWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card {
    max-height: 32px;
    background-color: #1C1C21;
}

.staticCard {
    composes: card;
    margin-left: 70px;
}

.submitWrapper {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 40px;
}

.price {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
}



