.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 620px;
}

.outerCardsWrapper {
    composes: wrapper;
    margin-top: unset;
    margin-bottom: unset;
    padding-right: 8px;

    max-height: calc(100vh - 550px);
    overflow-y: auto;

    list-style-type: none;
}

.innerCardWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card {
    max-height: 32px;
    background-color: #1C1C21;
    width: 536px;
}

.cardIdle {
    composes: card;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.staticCard {
    composes: card;
    margin-left: 70px;
}

.staticCardIdle {
    composes: staticCard;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardOnOver {
    background-color: var(--background-element);
}

.submitWrapper {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 40px;
}

.price {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
}

.submitButton {
    position: relative;
}

.errorMessage {
    text-align-last: end;
    color: var(--colors-interface-error);
}


