.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 40px;
}

.innerWrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 680px;
}

.orderNumber {
    text-align: center;
}


.listWrapper {
    max-height: 620px;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    margin-top: 24px;
}

.listInfo {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    align-items: center;
    margin-right: 24px;
}

.count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

.summary {
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}