.navButton {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;

    padding: 16px 20px;
    border-radius: 40px;

    
}

.navButton:active, .navButton:nth-child(2){
    color: #8585AD;
}