.wrapper {
    margin-top: 40px;
    margin-left:0px;

    width: 620px;
}

.tabsWrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}

.mainWrapper {
    height: calc(100vh - 320px);
    overflow-y: scroll;
}

